$color-white: #ffffff;
$color-moderate-violer: #733fc8;
$color-very-dark-grayish-blue: #48556a;
$color-very-dark-blackish-blue: #19202d;
$color-light-grayish-blue: #ecf2f8;
$color-light-gray: #cfcfcf;
