@use './tokens/fonts' as *;
@use './tokens/colors' as *;

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  border: none;
  border-radius: 0;

  background: none;
  box-shadow: none;
}

:root {
  font-size: 62.5%;
}

body {
  min-width: 375px;
  font-family: $font-barlow-semi-condensed;
  font-weight: 500;
  background-color: $color-light-grayish-blue;
}

button,
input,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
